---
//Current Year
const currentYear = new Date().getFullYear();

//Icons
import { Icon } from 'astro-icon/components'
---
<div class="divider"></div>

<footer>
    <div class="container">
        <div class="footer_content">
            <!--Main Footer Text-->
            <div class="footer_text">
                <p>&copy; {currentYear} MalwareCube</p>
                <ul>
                    <li><a href="https://www.youtube.com/@MalwareCube" target="_blank"><Icon name="mdi:youtube"/></li>
                    <li><a href="https://github.com/MalwareCube" target="_blank"><Icon name="mdi:github"/></li>
                    <li><a href="https://www.linkedin.com/in/andrewjoeprince/" target="_blank"><Icon name="mdi:linkedin"/></li>
                    <li><a href="https://twitch.tv/malwarecube" target="_blank"><Icon name="mdi:twitch"/></li>
                    <li><a href="mailto:malwarecube@gmail.com"><Icon name="mdi:email"/></a></li>
                </ul>
            </div>

            <!--Back to Top-->
            <div class="footer_top">
                <a href="#"><Icon name="mdi:chevron-up"/></a>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: rgba(var(--b4));
        padding: 20px 0px;
        user-select: none;
    }

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_text {
        display: flex;
        flex-direction: column;
   
    }

    .footer_text p {
        font-size: .9em;
        opacity: .5;
    }

    /*Navigation*/
    .footer_text ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
    }

    .footer_text li {
        list-style-type: none;
        font-size: 22px;
        margin: 0;
        padding: 0;
        line-height: 0px;
    }

    .footer_text a {
        color: rgb(var(--p1));
        transition: all .2s;
        opacity: .5;
    }

    .footer_text a:hover {
        color: rgb(var(--a1));
        opacity: 1;
    }

    /*Back to Top*/
    .footer_top {
        position: relative;
        background-color: rgba(var(--p1), .07);
        width: 36px;
        height: 36px;
        border-radius: 8px;

        font-size: 30px;
        line-height: 0px;
    }

    .footer_top a {
        color: rgb(var(--p1));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s;
    }
    .footer_top a:hover {
        text-decoration: none;
        padding-bottom: 5px;
    }

</style>