---
//Current Year
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="footerFlex container">
        <p>&copy; {currentYear} MalwareCube</p>
        <nav>
            <ul>
                <li><a href="https://www.youtube.com/@MalwareCube" target="_blank">YouTube</a></li>
                <li><a href="https://github.com/MalwareCube" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/andrewjoeprince" target="_blank">LinkedIn</a></li>
                <li><a id="contactEmail" href="mailto:malwarecube@gmail.com">Email</a></li>
            </ul>
        </nav>
    </div>
</footer>

<style>
    footer {
        border-top: solid 1px rgb(var(--b2));
        font-size: .9em;
    }

    .footerFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    footer p {
        margin-bottom: .5em;
        opacity: .8;
    }

    nav ul {
        display: flex;
        column-gap: 20px;
        margin-left: 0;
    }

    nav ul li {
        margin: 0;
        list-style-type: none;
    }
</style>