---
//Image Component
import { Image } from 'astro:assets';

//Header Images
import logo from '../../images/header/malwarecube_logo.svg';

//Icons
import { Icon } from 'astro-icon/components'
---

<header>
    <div class="container">

        <div class="header_content">

            <!--Logo and Menu-->
            <div class="header_content_ui">
                <!-- Logo -->
                <div class="header_content_ui_logo">
                    <a href="/"><Image src={logo} alt="MalwareCube Logo"/></a>
                    <a href="/"><h1>MalwareCube</h1></a>
                </div>

                <!-- Menu Icon -->
                <div class="header_content_ui_menu">
                    <Icon tabindex="0" role="button" aria-label="Toggle menu" class="header_content_ui_menu_icon" name="mdi:menu"/>
                </div>
            </div>

            <!--Navigation-->
            <nav class="header_content_nav header_content_nav-closed">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Speaking</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><Icon tabindex="0" role="button" aria-label="Toggle dark theme" class="header_content_nav_theme" name="mdi:circle-half-full"/></li>
                </ul>            
            </nav>

        </div>
    </div>
</header>

<div class="divider"></div>

<!--Header JS-->
<script>
    //Menu Icon Click
    const menuIcon = document.querySelector('.header_content_ui_menu_icon');
    const navMenu = document.querySelector('.header_content_nav');

    menuIcon.addEventListener('click', function() {
        //Toggle the Navigation
        navMenu.classList.toggle('header_content_nav-closed');
        
        //Toggle the Menu Icon Change
        menuIcon.classList.toggle('header_content_ui_menu_icon-open');
    });

    //Theme Icon Click
    const themeIcon = document.querySelector('.header_content_nav_theme');

    themeIcon.addEventListener('click', function() {
        //Toggle the Theme Icon Change
        themeIcon.classList.toggle('header_content_nav_theme-active');

        // Toggle Document Theme Attribute
        const currentTheme = document.documentElement.getAttribute("data-theme");
        const newTheme = currentTheme === "light" ? "dark" : "light";
        document.documentElement.setAttribute("data-theme", newTheme);

        // Store theme preference in localStorage
        localStorage.setItem('theme', newTheme);
    });

</script>


<style>
    header {
        background-color: rgba(var(--b4));
        padding: 10px 0px;
        user-select: none;
    }

    .header_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .header_content_ui {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1em;
        line-height: 0px;
    }

    .header_content_ui a {
        color: rgb(var(--p1));
        text-decoration: none;
        line-height: 0;
        transition: all .2s;
    }

    /*Header Logo and Text*/
    .header_content_ui_logo {
        display: flex;
        align-items: center;
        column-gap: 1em;
    }

    .header_content_ui_logo img {
        max-width: 50px;
        background-color: #131313;
        border: solid 1px #333;
        border-radius: 50%;
        transition: all .5s;
    }

    .header_content_ui_logo img:hover {
        transform: rotate(360deg);
        border: solid 1px #555;
    }

    .header_content_ui_logo h1 {
        margin: 0;
        padding: 0;
        user-select: none;
        font-size: 1.3em;
        color: rgb(var(--p1));
        display: none;
    }

    /*UI Menu Icon*/
    .header_content_ui_menu {
        font-size: 28px;
        display: block;
        cursor: pointer;
        transition: all .2s;
    }

    .header_content_ui_menu:hover {
        color: rgb(var(--a1));
    }

    .header_content_ui_menu_icon {
        transition: all .2s;
    }

    .header_content_ui_menu_icon-open {
        transform: rotate(180deg);
        color: rgb(var(--a1));
    }

    /*Navigation*/
    .header_content_nav {
        margin-top: 20px;
        width: 100%;
    }

    .header_content_nav-closed {
        display: none;
    }

    .header_content_nav ul {
        margin: 0;
        padding: 20px 0px 0px 0px;
    }

    .header_content_nav li {
        list-style-type: none;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        font-weight: bold;
        text-align: center;
    }

    .header_content_nav li:last-child {
        margin-bottom: 0;
    }

    .header_content_nav a, .header_content_nav svg {
        color: rgb(var(--p1));
        transition: all .2s;
        cursor: pointer;
        text-decoration: none;
    }

    .header_content_nav a:hover, .header_content_nav svg:hover {
        color: rgb(var(--a1));
        text-decoration: none;
    }

    .header_content_nav_theme-active {
        transform: rotate(180deg);
    }

    /*Media Queries*/

    /*Show logo on medium*/
    @media screen and (min-width: 350px) {
    .header_content_ui_logo h1 {
        display: block;
    }

    /*Nav on large*/
    @media screen and (min-width: 700px) {
     /*UI Menu Icon*/
     .header_content_ui_menu {
        display: none
    }

    .header_content {
        flex-direction: row;
    }

    /*Navigation*/
    .header_content_nav {
        margin-top: 0px;
        width: auto;
    }

    .header_content_nav-closed {
        display: block;
    }

    .header_content_nav ul {
        margin: 0;
        padding: 0px;
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    .header_content_nav li {
        list-style-type: none;
        margin-bottom: 0px;
        text-align: left;
        line-height: 0px;
    }

    .header_content_nav li:last-child {
        margin-bottom: 0;
    }
    }
</style>