---

---

<header>
    <div class="headerFlex container">
        <a href="/"><img src="https://yt3.googleusercontent.com/oWC153RZIzhiKo6qOOrG8w4PrHgXg392UmWD97dBLJu4cgmmqOG4OelCanwvvpsj3rRR-kYZHhA=s176-c-k-c0x00ffffff-no-rj" alt="MalwareCube Logo"></a>
        <h1><a href="/">MalwareCube</a></h1>
    </div>
</header>

<style>
    header {
        border-bottom: solid 1px rgb(var(--b2));
        margin-bottom: 1.25em;
    }

    header h1 {
        margin: 0;
        user-select: none;
        font-size: 1.5em;
    }

    .headerFlex {
        display: flex;
        column-gap: 1em;
        justify-content: left;
        align-items: center;
        padding: .5rem 20px;
    }

    header a {
        color: rgb(var(--p1));;
        line-height: 0;
    }

    header a:hover {
        text-decoration: none;
    }

    header img {
        border-radius: 50%;
        max-width: 60px;
    }      
</style>