---
//Layout
import Layout from '../layouts/Layout.astro';

//Intro Component
import Intro from '../components/index/Intro.astro';

//Video Component
import Videos from '../components/index/Videos.jsx';
---

<Layout>
		<!--Intro Section-->
		<div class="container">
			<Intro />
		</div>

		<div class="divider"></div>

		<!--Videos Section-->
		<div class="section_bg">
			<div class="container">
				<Videos client:idle/>
			</div>
		</div>

</Layout>