---
//Layout
import Layout from '../layouts/Layout.astro';

//Components
import Intro from '../components/index/Intro.astro';
import Videos from '../components/index/Videos.astro';
---

<Layout>
	<div>
		<!--Intro Hero-->
		<Intro />
		<div class="alertBox alert-Warning">
			<p>This site is currently undergoing scheduled maintenance.</p>
		</div>

		<!--Live?-->

		<!--Videos Section-->

		<Videos />

		<!--Projects Section-->

		<!--Blog Section-->

	</div>
</Layout>