---
//Layout
import Layout from '../layouts/Layout.astro';

//Components
import Intro from '../components/index/Intro.astro';
---

<Layout>
	<div>
		<Intro />
		<div class="alertBox alert-Warning">
			<p>This site is currently undergoing scheduled maintenance.</p>
		</div>
	</div>
</Layout>