---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		
		<h3>Hi. I'm Andrew. Welcome to my small corner of the Internet.</h3>
		<p>I'm a cybersecurity engineer, hacker, and educator.</p> 
		<p>Currently, I create innovative cybersecurity training for over two million learners at <a href="https://tryhackme.com" target="_blank">TryHackMe</a>.</p>

	</div>
</Layout>

<style>
	.mainSkillList {
		display: flex;
		column-gap: 2em;
	}
</style>