---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MalwareCube">
	<div class="container mainHeader">
		<h1>MalwareCube</h1>
		<p>Hi. I'm Andrew. Welcome to my small corner of the Internet.</p>
		<p>I'm a cybersecurity engineer, hacker, and educator.</p> 
		<p>Currently, I create innovative cybersecurity training for over two million learners at <a href="https://tryhackme.com" target="_blank">TryHackMe</a>.</p>

		<p>My areas of experience include:</p>
		
		<div class="skillList">
			<div>
				<ul>
					<li>Incident Response</li>
					<li>Log Analysis</li>
					<li>Threat Hunting</li>
					<li>Detection Engineering</li>
				</ul>
			</div>

			<div>
				<ul>
					<li>Vulnerability Management</li>
					<li>Web Hacking</li>
					<li>Cryptography</li>
					<li>OSINT</li>
				</ul>
			</div>
	</div>

    <footer class="footer">
        <div class="container">
            <p>&copy; <span id="currentYear">2024</span> MalwareCube</p>
            <ul class="footerNav">
                <li><a href="https://www.youtube.com/@MalwareCube" target="_blank">YouTube</a></li>
                <li><a href="https://github.com/MalwareCube" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/andrewjoeprince" target="_blank">LinkedIn</a></li>
                <li><a id="contactEmail" href="mailto:malwarecube@gmail.com">Email</a></li>
            </ul>
        </div>
    </footer>


</Layout>

<style>

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

.mainHeader {
	padding-top: 40px;
}

.container p {
	line-height: 1.3em;
	margin-bottom: 20px;
}

.skillList {
	display: flex;
	column-gap: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px #2C2E33;
}

.skillList li {
	list-style-type: disc;
	margin-left: 20px;
	line-height: 1.8em;
}

/*Footer*/

.footer {
	text-align: center;
	font-size: 16px;
	color: rgb(193, 194, 197);
	border-top: solid 1px #2C2E33;
	padding: 20px 0px;
}

.footerNav {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 10px;
}

.footerNav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
</style>
