---

---

<header>
    <div class="headerContainer container">
        <img src="https://yt3.googleusercontent.com/oWC153RZIzhiKo6qOOrG8w4PrHgXg392UmWD97dBLJu4cgmmqOG4OelCanwvvpsj3rRR-kYZHhA=s176-c-k-c0x00ffffff-no-rj" alt="MalwareCube Logo">
        <h1><a href="/">MalwareCube</a></h1>
    </div>
</header>

<style>
    header {
        border-bottom: solid 1px var(--b2);
        margin-bottom: 1.25em;
    }

    header h1 {
        margin: 0;
        user-select: none;
        font-size: 1.5em;
    }

    .headerContainer {
        display: flex;
        column-gap: .5em;
        justify-content: center;
        align-items: center;
        padding: .5rem;
    }

    .headerContainer a {
        color: var(--p1)
    }

    .headerContainer a:hover {
        text-decoration: none;
    }

    .headerContainer img {
        border-radius: 50%;
        max-width: 60px;
    }

    @media screen and (min-width: 750px) {
    
    .headerContainer {
        justify-content: left;
    }        
    
    }
</style>