---
//Image Component
import { Image } from 'astro:assets';

//Intro Images
import heroImg from '../../images/intro/hero_img.jpg';

//Icons
import { Icon } from 'astro-icon/components'
---

<section class="intro">
    <div class="intro_text">
        <h1><span id="intro_text_h1"></span><span id="intro_text_h1-blink">&#124;</span></h1>
        <h3>I'm a cyber security engineer, hacker, and educator.</h3>
        <p>I'm passionate about building creative solutions that make security accessible to everyone.</p>
        <p>Currently, I create innovative cyber security training at <a href="https://tcm-sec.com/" target="_blank">TCM Security</a>.</p>
        <ul>
            <li><a href="https://www.youtube.com/@MalwareCube" target="_blank"><Icon name="mdi:youtube"/></li>
            <li><a href="https://github.com/MalwareCube" target="_blank"><Icon name="mdi:github"/></li>
            <li><a href="https://www.linkedin.com/in/andrewjoeprince/" target="_blank"><Icon name="mdi:linkedin"/></li>
            <li><a href="https://twitch.tv/malwarecube" target="_blank"><Icon name="mdi:twitch"/></li>
            <li><a href="mailto:malwarecube@gmail.com"><Icon name="mdi:email"/></a></li>
        </ul>
    </div>
    <div class="intro_img">
        <Image src={heroImg} alt="MalwareCube Portrait"/>
    </div>
</section>

    <script>
        const text = "Hello, friend.";
        const speed = 200;
        const initialDelay = 3000; // 3 seconds initial delay
        const backspaceDelay = 3000; // 3 seconds delay before backspacing

        let index = 0;
        let isBackspacing = false;

        function typeEffect() {
            if (!isBackspacing) {
                document.getElementById('intro_text_h1').innerHTML += text.charAt(index);
                index++;
                if (index < text.length) {
                    setTimeout(typeEffect, speed);
                } else {
                    document.getElementById('intro_text_h1-blink').style.visibility = 'hidden';
                    setTimeout(backspaceEffect, backspaceDelay);
                }
            } else {
                document.getElementById('intro_text_h1').innerHTML = text.slice(0, index);
                index--;
                if (index >= 0) {
                    setTimeout(typeEffect, speed);
                } else {
                    isBackspacing = false;
                    setTimeout(typeEffect, initialDelay);
                }
            }
        }

        function backspaceEffect() {
            isBackspacing = true;
            document.getElementById('intro_text_h1-blink').style.visibility = 'hidden';
            setTimeout(typeEffect, speed);
        }

        setTimeout(typeEffect, initialDelay);
    </script>

<style>
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 0px;
    }

    .intro_text p {
        color: rgba(var(--p1),.6);
    }

    /*Navigation*/
    .intro_text ul {
        padding: 0;
        margin: 0;
        margin-top: 1em;
        display: flex;
        column-gap: 8px;
    }

    .intro_text li {
        list-style-type: none;
        font-size: 24px;
        margin: 0;
        padding: 0;
        line-height: 0px;
    }

    .intro_text li a {
        color: rgb(var(--p1));
        transition: all .2s;
    }

    .intro_text li a:hover {
        color: rgb(var(--a1));
        opacity: 1;
    }

    #intro_text_h1-blink {
        user-select: none;
        animation: cursor-blink 1.5s infinite;
        font-weight: normal;
    }

    @keyframes cursor-blink {
        0% {
            visibility: hidden;
        }
        50% {
            visibility: hidden;
        }
        100% {
            visibility: visible;
        }
    }


    /*Hero Image*/
    .intro_img {
        position: relative;
        transform: translate(0);
        width: 100%;
        height: 300px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 10px 30px rgba(0,0,0,0.02);
        user-select: none;
    }

    .intro_img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Media Queries*/

    /*Semi Small*/
    @media screen and (min-width: 650px) {
        .intro_img {
            max-width: 400px;
            margin: 0 auto;
            height: 300px;
        }
    }

    /*Show logo on medium*/
    @media screen and (min-width: 800px) {
        .intro {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .intro_text {
            width: 50%;
        }

        .intro_img {
            width: 40%;
            height: 300px;
            margin: 0;
        }
    }
</style>