---

---

<div>
    <h3>Hi. I'm Andrew. Welcome to my small corner of the Internet.</h3>
    <p>I'm a cybersecurity engineer, hacker, and educator.</p> 
    <p>Currently, I create innovative cybersecurity training for over two million learners at <a href="https://tryhackme.com" target="_blank">TryHackMe</a>.</p>

    <p>My areas of experience include:</p>
        
    <div class="skillList">
        <div>
            <ul>
                <li>Incident Response</li>
                <li>Log Analysis</li>
                <li>Threat Hunting</li>
                <li>Detection Engineering</li>
            </ul>
        </div>

        <div>
            <ul>
                <li>Vulnerability Management</li>
                <li>Web Hacking</li>
                <li>Cryptography</li>
                <li>OSINT</li>
            </ul>
        </div>

    </div>

</div>

<style>
    .skillList {
        display: flex;
        align-items: flex-start;
        column-gap: 2em;
    }
</style>