---

---

<!--Latest Featured Video-->
<h2>Featured Video</h2>
<section class="latestVideo">
    <!--Video Embed Panel-->
    <article class="latestVideoEmbed">
        <iframe src="https://www.youtube.com/embed/FWtSaSt5nBU?si=AzvXUG7yaGoa4Gc6" title="Day 17 - I Tawt I Taw A C2 Tat! (TryHackMe Advent of Cyber 2023)" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </article>

    <!--Video Info Panel-->
    <aside class="latestVideoInfo">
        <h3><a href="https://www.youtube.com/watch?v=FWtSaSt5nBU&t=298s">Day 17 - I Tawt I Taw A C2 Tat! (TryHackMe Advent of Cyber 2023)</a></h3>
        <h4>10,875 views | Dec 17, 2023</h4>
        <p>This is a video walkthrough of Day 17 for the Advent of Cyber 2023 event. In today's task, we look at the SiLK suite, and how it can be used to identify network behaviour, patterns, and anomalies.</p>
    </aside>
</section>

<style>
.latestVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.latestVideoEmbed {
    width: 100%;
}

.latestVideo iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 12px;
}

.latestVideoInfo h3 {
    font-size: 1em;
}

.latestVideoInfo h3 a {
    color: rgb(var(--p1));
}

.latestVideoInfo h3 a:hover {
    text-decoration: none;
}

.latestVideoInfo h4 {
    font-size: .85em;
    font-weight: normal;
    opacity: .6;
    user-select: none;
}

.latestVideoInfo p {
    font-size: .9em;
}


/*Flex split at larger screens*/
@media screen and (min-width: 750px) {
    .latestVideo {
        flex-direction: row;
        justify-content: flex-start;
    }

    .latestVideoEmbed {
        max-width: 400px;
    }

    .latestVideoInfo {
        width: 40%;
    }
}

</style>
