---
//Components
import Header from '../components/navigation/Header.astro';
import Footer from '../components/navigation/Footer.astro';

//CSS
import '../styles/reset.css';
import '../styles/global.css';

//Props
interface Props {
	subTitle?: string;
}

//Page Titles and Subtitles
const title = "MalwareCube";
const { subTitle } = Astro.props;
const pageTitle = subTitle ? `${title} | ${subTitle}` : title;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm a cyber security engineer, hacker, and educator." />
		<meta name="author" content="MalwareCube">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>
	</head>
	
	<body>
		<Header />
			<slot />
		<Footer />

		<script>
			// Theme Preference
			function setSystemThemePreference() {
				// Check if the system prefers dark mode
				const prefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
		
				// Check if "theme" is set in localStorage
				const localStorageTheme = localStorage.getItem('theme');
		
				// If "theme" is set in localStorage, use it
				if (localStorageTheme) {
					document.documentElement.setAttribute('data-theme', localStorageTheme);
				}
				// If not, use the system preference
				else if (prefersDarkMode) {
					document.documentElement.setAttribute('data-theme', 'dark');
				} else {
					// Default to light theme
					document.documentElement.setAttribute('data-theme', 'light');
				}
			}
			// Call the function to set the theme based on system preference and localStorage
			setSystemThemePreference();
		</script>

	</body>
</html>